 <footer>
        <div>
            <a href="JavaScript:Void(0);">&copy;Ektara</a>
            <a href="/about">ABOUT</a>
            <a href="/contact">CONTACT US</a>
        </div>
        <span class="icon"><img src="/assets/images/facebook.png" alt="facebook" width="40" height="30"></span>
        <span class="icon"><img src="/assets/images/twitter.png" alt="twitter" width="40" height="30"></span>
    </footer>
