<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ektara-about</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <% include partials/header.ejs %>
    <% include partials/nav.ejs %>
    
    <div class="main_div">
        <p>EKTARA 2K19 is a National Level Techno Cultural Fest organized by electrical department of JNTU Kakinada every year.</p>
        <p>Nearly 50,000 students from all over the country participate in Ektara.Ektara is a mashup of technical and cultural events.Our technical events are all related to emerging technologies.We also conduct workshops organized by indstry people during this fest.We give equal importance to cultural fests also</p>
    </div>
    <% include partials/footer.ejs %>
</body>
</html>