<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ektara-contact</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <% include partials/header.ejs %>
    <% include partials/nav.ejs %>
    
    <div class="main_div">
        <h1>Wanna know more about our events?</h1>
        <p>Follow us on our twitter handle : twitter_ektara2k19</p>
        <p>Join us on our facebook page : fb_ektara2k19</p>
        <h1>Still not enough?</h1>
        <p>Contact us directly: email@ektara19.com</p>
    </div>
    <% include partials/footer.ejs %>
</body>
</html>