<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ektara-home</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <% include partials/header.ejs %>
    <% include partials/nav.ejs %>
    
    <div class="main_div">
        <p>JNTU Kakinada Electrical Department presents</p>
        <p>EKTARA 2K19</p>
        <p>a National Level Techno Cultural Fest</p>
        <p>Click on the events link to know more about our events</p>
    </div>
    <% include partials/footer.ejs %>
</body>
</html>