<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ektara-User Registration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body class="connections_body">
    <% include partials/header.ejs %>
    <% include partials/nav.ejs %>
    <section>

        <form id="connection-form" method="POST" action="signup">
             <p><%= alert%></p>      
             <p><label for="userId"><span>userId: </span></label><input type="text" id="userId" name="userId" placeholder="ID"></p>
            <p><label for="firstName"><span>firstName: </span></label><input type="text" id="firstName" name="firstName" placeholder="firstName"></p>
             <p><label for="lastName"><span>lastName: </span></label><input type="text" id="lastName" name="lastName" placeholder="lastName"></p>
            <p><label for="emailAddress"><span>emailAddress: </span></label><input type="email" id="emailAddress" name="emailAddress" placeholder="emailAddress"></p>
            <p><label for="password"><span>password: </span></label><input type="password" id="password" name="password" placeholder="password"></p>
            <p><label for="address1"><span>address1: </span></label><input type="text" id="address1" name="address1" placeholder="address1"></p>
            <p><label for="address2"><span>address2: </span></label><input type="text" id="address2" name="address2" placeholder="address2"></p>
            <p><label for="city"><span>city: </span></label><input type="text" id="city" name="city" placeholder="city"></p>
            <p><label for="state"><span>state: </span></label><input type="text" id="state" name="state" placeholder="state"></p>
            <p><label for="zipCode"><span>zipCode: </span></label><input type="text" id="zipCode" name="zipCode" placeholder="zipCode"></p>
            <p><label for="country"><span>country: </span></label><input type="text" id="country" name="country" placeholder="country"></p>

            <p> <button type="submit">Register User</button> </p>              
               
        </form>
    </section>


    <% include partials/footer.ejs %>
</body>

</html>
